            h2 {
              background-color: peru;
              border-radius: 4px;
              padding: 8px;
              color: white;
              text-shadow: -1px 0 3px black, 0 1px 3px black, 1px 0 3px black, 0 -1px 3px black;
              box-shadow: 5px 5px 10px black;
            }
            .content {
              max-width: 500px;
              margin: auto;
              background-color: lightskyblue;
              border: none;
              border-radius: 8px;
              text-align: center;
              padding: 8px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .button1 {
              background-color: green;
              border: none;
              color: white;
              padding: 8px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 12px;
              margin: 4px 2px;
              cursor: pointer;
              border-radius: 4px;
              opacity: 0.9;
              outline: none;
            }  
            .output1 {
              background-color: tomato;
              border-radius: 8px;
              padding-left: 8px;
            }
            .output2 {
              background-color:rgb(73, 6, 6); color: white;
              border-radius: 8px;
              padding-left: 8px;
            }
            .formbg {
              background-color: yellowgreen;
              border-radius: 8px;
              display: inline-block;
              padding: 20px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .inputbox {
                border-radius: 4px;
                border: none;
                text-align: center;
                margin: 4px;
                padding: 6px;
                outline: none;
            }
            .inputbox:hover, .inputbox:focus {
                box-shadow: 0 0 8px black;
            }
            .button1:hover {
                box-shadow: 0 0 2px black;
                opacity: 1;
            }
